body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wheel {
    background-color: #000;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border: 1px salmon;
  }
  
  .inner-wheel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  
  .section {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  
  .section:nth-child(1) {
    background-color: #f44336;
    transform: rotate(60deg);
  }
  
  .section:nth-child(2) {
    background-color: #9c27b0;
    transform: rotate(120deg);
  }
  
  .section:nth-child(3) {
    background-color: #3f51b5;
    transform: rotate(180deg);
  }
  
  .section:nth-child(4) {
    background-color: #009688;
    transform: rotate(240deg);
  }
  
  .section:nth-child(5) {
    background-color: #ff5722;
    transform: rotate(300deg);
  }
  
  .section:nth-child(6) {
    background-color: #8bc34a;
    transform: rotate(360deg);
  }
  
  .section span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 4px solid #000;
    border-radius: 50%;
    z-index: 10;
  }
  